#top{
    color:#007d7b;
    background-color: #ffffff;    
}

main > h2{
    color: #000000;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    background-color: #000000;
}


p{
    font-size: 1.25em;
    color:#000000;
    margin-bottom: 0%;

}

figcaption, label, input{
    font-size: 1em;
    color: #000000;
}

input, textarea{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 1em;
}

nav{
    background-color: #000000;
    color:#ffffff;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul li{
    margin: 0 10px;
}

nav a{
    font-size: 1.5em;
    color:#ffffff;
    text-decoration: none;
    display: block;
}

nav a:hover{
    background-color: #007d7b;
    transition: background-color 0.3s ease;

}
h1,h2{

    color: #007d7b;
}

h1{
    font-size: 3em;
    background-color: #ffffff;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1em;  
}

header{
    background-color: #000000;
    color: #ffffff;
}

footer{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: white;
    background-color: #000000;
}

section{
    background-color: #ffffff;
}

button{
    background-color: #007d7b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#about {
    margin: auto;
    background-color:hsl(0, 0%, 100%);
    max-width: 95%;   

}
#about h2{
    text-align: center;
    color: #000000;
}
.gallery{
    margin: auto;
    max-width: 95%;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    
}

.gallery h2{
    text-align: center;
    color: #000000;
    padding: 0%;
    
}

.gallery p{
    text-align: left;
    color: #000000;
}


.gallery .gallery-item h2{
    text-align: center;
    color: #007d7b
}

.gallery .gallery-item{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    margin-top: 20px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    

}   

.gallery-item img{
    width: 100%;
    height: auto;
    display: block;
    
    
}

.gallery-item figcaption{
    justify-content: center;
    align-items: start;
    bottom:0;
    left: 0;
    width: 100%;
    color: black;
    text-align: center;
    font-size: 0.9em;
    

}

input::placeholder, textarea::placeholder{
    color: #007d7b;
    text-transform: uppercase;
}

#contact{
    background-color: black;
    color: white;
}

#contact h2  {
    color: #ffffff;
    text-align: center;
}

#contact p{
    text-align: center;
    color: #ffffff;
}



#contact form{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: #007d7b;
  
}

#contact label{
    text-align: left;
    margin-top: 10px;
}

#contact fieldset{
    color: black;
    border: #000000;
}

#contact input[type="text"], 
#contact input[type="email"],
#contact textarea{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color:#007d7b;
    font-size: 1em;
}

#button{
    width: 60%;
    padding: 10px;
    cursor: pointer;
    background-color: #007d7b;
    color:#ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px auto;
    font-size: 1em;
    display: block;
    margin: 10px auto;
}



@media (max-width: 485px) {
    .gallery .gallery-item{
        grid-template-columns: 1fr;
    }

    nav ul{
        justify-content: center;
    }

    #contact {
        padding: 10px;
    }

    #contact form{
        width: 100%;
    }

}

@media (min-width: 486px) and (max-width: 879px) {
    .gallery .gallery-item{
        grid-template-columns: repeat(2, 1fr);
    }

    nav ul{
        justify-content: center;
    }

    #contact form{
        width: 80%;
    }

}

@media (min-width: 880px) {
    .gallery-item{
        display: grid;
        width:33.3333%;
    }
    nav ul{
        justify-content: right;
    }

    #contact form{
        width: 60%;
    }
}

